#### 28-01-2026

## Experiment 2: Use of input statements & operators

---

1. Declare x, y, z as integers and perform operations

In [1]:
x = 9
y = 7

print("Addition:", x + y)
print("Multiplication:", x * y)
print("Division:", x / y)
print("Subtraction:", x - y)

Addition: 16
Multiplication: 63
Division: 1.2857142857142858
Subtraction: 2

---

2. Area of a circle (radius as input)

In [2]:
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of circle:", area)

Area of circle: 18136.64

---

3. Program to compute (x + y) * (x + y)

In [3]:
x = int(input("Enter x: "))
y = int(input("Enter y: "))

result = (x + y) * (x + y)
print("Result:", result)

Result: 12321

---

4 & 5. Test data x = 4, y = 3 (Expected output: 49)

In [4]:
x = 4
y = 3

print((x + y) * (x + y))

49

---

6. Hypotenuse using Pythagoras theorem

In [5]:
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))

c = (a**2 + b**2) ** 0.5
print("Hypotenuse:", c)

Hypotenuse: 18.439088914585774

---

7. Simple Interest calculation

In [6]:
p = float(input("Enter principal: "))
r = float(input("Enter rate: "))
t = float(input("Enter time: "))

si = (p * r * t) / 100
print("Simple Interest:", si)

Simple Interest: 3204.0

---

8. Area of triangle when sides are given (Heronâ€™s formula)

In [7]:
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))

s = (a + b + c) / 2
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5

print("Area of triangle:", area)

Area of triangle: (5.183544526311252e-14+846.5370635713477j)

---

9. Convert seconds into hours, minutes and seconds

In [8]:
seconds = int(input("Enter total seconds: "))

hours = seconds // 3600
minutes = (seconds % 3600) // 60
remaining_seconds = seconds % 60

print("Hours:", hours)
print("Minutes:", minutes)
print("Seconds:", remaining_seconds)

Hours: 0
Minutes: 0
Seconds: 12

---

10. Swap two numbers without using third variable

In [9]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))

a, b = b, a

print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 24
b = 121

---

11. Sum of first n natural numbers

In [10]:
n = int(input("Enter n: "))
sum_n = n * (n + 1) // 2
print("Sum:", sum_n)

Sum: 4005

---

12. Truth table for bitwise operators (&, |, ^)

In [11]:
a = 1
b = 0

print("a b a&b a|b a^b")
print(a, b, a & b, a | b, a ^ b)
print(a, a, a & a, a | a, a ^ a)
print(b, b, b & b, b | b, b ^ b)
print(b, a, b & a, b | a, b ^ a)

a b a&b a|b a^b
1 0 0 1 1
1 1 1 1 0
0 0 0 0 0
0 1 0 1 1

---

13. Left shift and right shift of a number

In [12]:
num = int(input("Enter number: "))

print("Left shift by 1:", num << 1)
print("Right shift by 1:", num >> 1)

Left shift by 1: 178
Right shift by 1: 44

---

14. Membership operator: check number in sequence

In [13]:
seq = (10, 20, 56, 78, 89)
num = int(input("Enter number: "))

print(num in seq)

False

---

15. Membership operator: check character in string

In [16]:
text = input("Enter a string: ")
ch = input("Enter a character: ")

print(ch in text)

True