# Experiment 6: Lisra, Tuples and Dictionary

---

### 1. Scan n values in range 0-3 and print the number of times each value has occurred.

In [1]:
n = int(input("Enter number of values: "))
count = [0, 0, 0, 0]

for _ in range(n):
    x = int(input())
    if 0 <= x <= 3:
        count[x] += 1

for i in range(4):
    print(i, "occurred", count[i], "times")

0 occurred 0 times
1 occurred 1 times
2 occurred 1 times
3 occurred 0 times

---

### 2. Create a tuple to store n numeric values and find the average of all values.

In [2]:
n = int(input("Enter number of elements: "))
t = ()

for _ in range(n):
    t += (int(input()),)

avg = sum(t) / n
print("Average =", avg)

Average = 2.0

---

### 3. WAP to input a list of scores for N students in a list data type. Find the score of the runner-up and print the output.  
Sample Input  
N = 5  
Scores= 2 3 6 6 5  
Sample output  
5  
Note: Given list is [2, 3, 6, 6, 5]. The maximum score is 6, second maximum is 

5. Hence, we print 5 as the runner-up score.

In [4]:
n = int(input("Enter number of students: "))
scores = list(map(int, input("Enter scores: ").split()))

unique_scores = list(set(scores))
unique_scores.sort(reverse=True)

print(unique_scores[1])

40

---

### 4. Create a dictionary of n persons where key is name and value is city.   
a. Display all names  
b. Display all city names  
c. Display student names and cities of all students.  
d. Count the number of students in each city.

In [5]:
n = int(input("Enter number of persons: "))
d = {}

for _ in range(n):
    name = input("Enter name: ")
    city = input("Enter city: ")
    d[name] = city

# a) Display all names
print("Names:")
for name in d:
    print(name)

# b) Display all city names
print("Cities:")
for city in d.values():
    print(city)

# c) Display names and cities
print("Name and City:")
for name, city in d.items():
    print(name, "-", city)

# d) Count students in each city
city_count = {}
for city in d.values():
    city_count[city] = city_count.get(city, 0) + 1

print("Students in each city:")
for city, count in city_count.items():
    print(city, ":", count)

Names:
ritika
taanya
ashish
Cities:
dehradun
jalandhar
banaras
Name and City:
ritika  - dehradun
taanya - jalandhar
ashish - banaras
Students in each city:
dehradun : 1
jalandhar : 1
banaras : 1

---

### 5. Store details of n movies in a dictionary by taking input from the user. Each 
movie must store details like name,  year, director name, production cost, 
collection made (earning) & perform the following :-  
a. print all movie details  
b. display name of movies released before 2015  
c. print movies that made a profit.  
d. print movies directed by a particular director.

In [10]:
n = int(input("Enter number of movies: "))
movies = {}

for _ in range(n):
    name = input("Movie name: ")
    year = int(input("Release year: "))
    director = input("Director name: ")
    cost = int(input("Production cost: "))
    collection = float(input("Collection made: "))

    movies[name] = {
        "year": year,
        "director": director,
        "cost": cost,
        "collection": collection
    }

# a) Print all movie details
print("All movie details:")
for m, details in movies.items():
    print(m, details)

# b) Movies released before 2015
print("Movies released before 2015:")
for m, details in movies.items():
    if details["year"] < 2015:
        print(m)

# c) Movies that made a profit
print("Movies that made profit:")
for m, details in movies.items():
    if details["collection"] > details["cost"]:
        print(m)

# d) Movies by a particular director
dname = input("Enter director name to search: ")
print("Movies directed by", dname)
for m, details in movies.items():
    if details["director"] == dname:
        print(m)

All movie details:
toy story {'year': 2026, 'director': 'ritika singh', 'cost': 100200, 'collection': 3.0}
Movies released before 2015:
Movies that made profit:
Movies directed by ritika sigh