## Experiment 10: Data Analysis and Visualization

---

### Q1. Create NumPy array and find sum of all elements

### Code Explanations

import numpy as np : imports NumPy library

np.array() : creates a NumPy array

np.sum(arr) : calculates sum of all elements in the array

print() : displays the result

In [ ]:
import numpy as np

arr = np.array([10, 20, 30, 40, 50])
total = np.sum(arr)
print("Sum of all elements:", total)

---

### Q2: Create 3×3 array, find row & column sums, and 2nd maximum element

### Code Explanations

np.array([[...]]) : creates a 3×3 matrix

axis=1 : performs operation row-wise

axis=0 : performs operation column-wise

flatten() : converts matrix into 1D array

sort() : sorts the array in ascending order

flat[-2] : accesses second maximum element

In [1]:
import numpy as np

arr = np.array([[1,2,3],
                [4,5,6],
                [7,8,9]])

print("Row-wise sum:", arr.sum(axis=1))
print("Column-wise sum:", arr.sum(axis=0))

flat = arr.flatten()
flat.sort()
print("Second maximum element:", flat[-2])

Row-wise sum: [ 6 15 24]
Column-wise sum: [12 15 18]
Second maximum element: 8

---

### Perform Matrix Multiplication of two n×n matrices

### Code Explanations

np.array() : creates matrices

np.dot(A, B) : performs matrix multiplication

print(result) : displays multiplied matrix

In [2]:
import numpy as np

A = np.array([[1, 2],
              [3, 4]])

B = np.array([[5, 6],
              [7, 8]])

result = np.dot(A, B)
print("Matrix Multiplication Result:")
print(result)

Matrix Multiplication Result:
[[19 22]
 [43 50]]

---

### Q4: Pandas program to get powers of array values element-wise

### Code Explanations

import pandas as pd : imports Pandas library

data = {...} : stores column data in dictionary

pd.DataFrame(data) : creates a DataFrame

df.index : displays index values

df['X'] : accesses column X

df['Y'] : accesses column Y

df['Z'] : accesses column Z

In [ ]:
import pandas as pd

data = {
    'X': [78,85,96,80,86],
    'Y': [84,94,88,83,86],
    'Z': [89,87,98,72,83]
}

df = pd.DataFrame(data)
df

RangeIndex(start=0, stop=5, step=1) 0    78
1    85
2    96
3    80
4    86
Name: X, dtype: int64 0    84
1    94
2    88
3    83
4    86
Name: Y, dtype: int64 0    89
1    87
2    98
3    72
4    83
Name: Z, dtype: int64

---

### Q5. Pandas program to display first 3 rows of a DataFrame

### Code Explanations

pd.DataFrame(data) : creates DataFrame

df.head(3) : displays first three rows

print() : outputs the DataFrame

In [2]:
import pandas as pd

data = {
    'Name': ['A', 'B', 'C', 'D', 'E'],
    'Marks': [85, 90, 78, 88, 92]
}

df = pd.DataFrame(data)

print(df.head(3))

  Name  Marks
0    A     85
1    B     90
2    C     78